aiohttp==3.9.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
altair==5.3.0
amqp==5.2.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
appnope==0.1.4
asttokens==2.4.1
asyncssh==2.15.0
atpublic==5.0
attrs==23.2.0
audioread==3.0.1
billiard==4.2.0
bitstruct==8.19.0
blinker==1.8.2
branca==0.7.2
cachetools==5.3.3
celery==5.4.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
comm==0.2.1
configobj==5.0.8
contourpy==1.2.0
cryptography==43.0.0
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
dictdiffer==0.9.0
diskcache==5.6.3
distro==1.9.0
dpath==2.2.0
dulwich==0.22.1
dvc==3.52.0
dvc-data==3.15.1
dvc-http==2.32.0
dvc-objects==5.1.0
dvc-render==1.0.2
dvc-studio-client==0.21.0
dvc-task==0.4.0
entrypoints==0.4
et-xmlfile==1.1.0
executing==2.0.1
expelliarmus==1.1.12
filelock==3.15.4
flatten-dict==0.4.2
flufl.lock==8.1.0
folium==0.17.0
fonttools==4.47.2
frozenlist==1.4.1
fsspec==2024.6.1
funcy==2.0
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.11
GitPython==3.1.43
grandalf==0.8
graphviz==0.20.1
gto==1.7.1
h5py==3.12.1
hydra-core==1.3.2
idna==3.6
importRosbag==1.0.4
ipykernel==6.29.5
ipython==8.22.1
iterative-telemetry==0.0.8
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.7.1
kiwisolver==1.4.5
kombu==5.3.7
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.1.0
multidict==6.0.5
nest-asyncio==1.6.0
networkx==3.3
nltk==3.8.1
numba==0.60.0
numpy==1.26.3
omegaconf==2.3.0
openpyxl==3.1.2
orjson==3.10.6
packaging==23.2
pandas==2.2.1
parso==0.8.3
pathspec==0.12.1
pbr==6.1.0
pexpect==4.9.0
pillow==10.2.0
platformdirs==3.11.0
pooch==1.8.2
prompt-toolkit==3.0.43
protobuf==5.28.2
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==16.1.0
pybind11==2.13.6
pycparser==2.21
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.9.1
pydot==3.0.1
pygit2==1.15.1
Pygments==2.17.2
pygtrie==2.5.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
referencing==0.35.1
regex==2024.4.16
requests==2.31.0
rich==13.7.1
rockpool==2.8
rpds-py==0.18.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
samna==0.39.6.0
scikit-learn==1.3.2
scipy==1.12.0
scmrepo==3.3.6
seaborn==0.13.2
semver==3.0.2
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.7.1
six==1.16.0
smmap==5.0.1
soundfile==0.12.1
soxr==0.5.0.post1
sqltrie==0.11.0
srt==3.5.3
stack-data==0.6.3
streamlit==1.36.0
streamlit-autorefresh==1.0.1
streamlit_folium==0.20.1
sympy==1.13.3
tabulate==0.9.0
tenacity==8.4.1
threadpoolctl==3.4.0
toml==0.10.2
tomlkit==0.13.0
tonic==1.5.0
toolz==0.12.1
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tornado==6.4
tqdm==4.66.2
traitlets==5.14.1
typer==0.12.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
vine==5.1.0
voluptuous==0.15.2
vosk==0.3.44
watchdog==4.0.1
wcwidth==0.2.13
websockets==12.0
xylosim==0.1.3
xyzservices==2024.6.0
yarl==1.9.4
youtube-transcript-api==0.6.2
zc.lockfile==3.0.post1
